{% extends 'base.html' %}
{% block content %}
    {%if not request.user.is_authenticated %}
        <h1 style="font-size: 48px;">Memories <span style="font-size: 20px;">- храни свои воспоминания</span></h1>
        <div class="row g-0">
            <div class="col-12 pt-5 d-flex flex-column login-cite">
                <p style="text-align: center;">Ты можешь зайти к нам, имея аккаунт во ВКонтакте</p>
                <a href="{% url 'social:begin' 'vk-oauth2'%}" class="login">Войти с помощью Вк</a>
            </div>
        </div>
    {%else%}
        <div class="about-user row g-0">
            <div class="col-4 profile">
                {% if photo_url %}
                    <img src="{{ photo_url }}" class="photo-profile">
                    <a href="{% url 'logout' %}" class="logout">Выйти</a>
                {% endif %}
            </div>
            <div class="col-8 d-flex flex-column about-profile" >

                <h1 class="mt-5">{{user.first_name}} {{user.last_name}} </h1>
                <span class="not-hidden" onclick="not_hidden_form()">Создать новое впечатление</span>

                <h6 class="success-message" style="color:green;"></h6>

                <form id="place-form" class="hide" style="width: 100%;">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                        <p>{{f}}</p>
                    {%endfor%}
                    <p style="margin-bottom: 3px;">Укажите место на карте</p>
                    <div id='map' style='width: 600px; height: 300px;'></div>
                    <button class="submit" type="submit">Сохранить</button>
                </form>

            </div>
        </div>
        <h2 style="padding-left: 80px; margin-top:20px;">Ваши воспоминания</h2>

        {% for place in places %}
            <div class="row g-0 mt-5 ">
                <div id="map{{place.id}}" class="col-6 d-flex just" style='width: 500px; height: 300px;'></div>
                <div class="col-6 d-flex flex-column align-items-center">
                    <p class="name">{{place.place_name}}</p>
                    <p class="place-comment">{{place.comment}}</p>
                </div>
            </div>
        {%endfor%}

    {% endif %}

{%endblock%}

